pytorch-metric-learning==2.1.1
torch==2.0.1
torchaudio==2.0.2
torchreid==0.2.5
torchvision==0.15.2
numpy
Cython
h5py
Pillow
six
scipy
opencv-python
matplotlib
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio
chardet
faiss-gpu